html{
    background-color: white;
    scroll-behavior: smooth;
}
/* Set Background Image for Multiple Sections (Needs Fixing) */
.parent--container{
    background: url("assets/big-thing.png") no-repeat 0 0 transparent;
    background-repeat: no-repeat;
    background-position:bottom 75% left 115%;
}
/* Hero Header */
.hero--section{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight:bold;
    margin:0;
    padding:0;
}
.emphasize{
    font-weight:bold;
    color:#388350;
}
.hero--wrapper{
    padding-top:6.5%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero--img{
    max-width: 606px;
    max-height:661px;
    width:auto;
    height:auto;
    flex-basis:40%;
}
.hero--text{
    padding-right:12%;
}
